<div id="footer" >
    <!-- Bottom -->
    <div class="container" >
        <div class="footer-bottom">
            <div class="sixteen columns">
                <h4>Contacter Nous</h4>
                <ul class="social-icons">
                    <li><a class="facebook" href="#"><i class="icon-facebook"></i></a></li>
                    <li><a class="twitter" href="#"><i class="icon-twitter"></i></a></li>
                    <li><a class="gplus" href="#"><i class="icon-gplus"></i></a></li>
                    <li><a class="linkedin" href="#"><i class="icon-linkedin"></i></a></li>
                </ul>
                <div class="col-md-12">
                    <div class="copyrights  text-center" style="text-align:center ;">
                        <!-- <span>Powered by &copy; DALLAGI RANIA</span> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>