<div id="wrapper">


    <!-- Header
    ================================================== -->
    <app-header></app-header>
    <div class="clearfix"></div>

   

    <!-- Content
    ================================================== -->

  
<!-- Container -->
 <div style="background-image: url(../../assets/images/about.jpg)">
    <section id="about">
       <div class="about-1"> 
        <h1> QUI SOMME NOUS ? </h1>
        <p> 
            "Job Search" est une solution globale d'emploi en ligne pour les personnes à la recherche d'un emploi et les employeurs qui ont besoin de personnes formidables.
             L'innovation est au cœur de notre succès et de notre avenir,nous changeons la façon dont les gens envisagent le travail et nous les aidons activement à améliorer leur vie et les performances de leur personnel grâce à de nouvelles technologies,outils et pratiques..
        </p>
       </div> 
       <div id="about-2"> 
        <div class="content-box-lg">
          <div class="contain"> 
            <div class="row">
               <div class="col-md-4">
                <div class="about-item"style="text-align: center;margin:10px;">
                    <i class="fa fa-book"> </i>
                    <h3> Mission</h3> 
                    <hr> 
                    <p> Nous créons et fournissons les meilleurs médias, technologies et plateformes de
                        recrutement pour connecter les emplois et les personnes, nous nous efforçons chaque
                        jour d'aider nos clients à embaucher et d'aider les gens à trouver un emploi.. </p>
                </div> 

               </div> 
               <div class="col-md-4">
                <div class="about-item "style="text-align: center;margin:10px;">
                    <i class="fa fa-globe" aria-hidden="true"></i>
                    <h3> Pourquoi "Job Search"</h3> 
                    <hr> 
                    <p>"Job Search" avec sa technologie de pointe, fournit des profils pertinents aux employeurs
                        et des emplois pertinents aux demandeurs d'emploi dans tous les secteurs verticaux, niveaux
                        d'expérience et zones géographiques. Nous aidons les employeurs à trouver non seulement les meilleurs candidats de qualité,
                        mais plus d'entre eux. Pour rationaliser le processus afin que vous puissiez économiser
                        du temps et de l'argent.   </p>
                </div> 

               </div> 
               <div class="col-md-4">
                <div class="about-item" style="text-align: center;margin:10px;">
                    <i class="fa fa-trophy" aria-hidden="true"></i>
                    <h3> Avantages</h3> 
                    <hr> 
                    <p> Le processus de recherche d'emploi et de recrutement est généralement fastidieux, mais
                        avec notre site Web, il est devenu plus pratique et plus simple de s'inscrire en tant
                        que recruteur ou demandeur d'emploi sur notre site Web. Notre site Web a une
                        fonctionnalité où vous pouvez télécharger votre CV sur le site et obtenir plusieurs
                        emplois en un seul clic.
                    </p>
                </div> 

               </div>    
            </div>
            
        </div> 

      </div>
    </div >

    </section>
   

    

    <!-- Container / End -->
    
    
    <!-- Sidebar
    ================================================== -->
   
    </div>
    <!-- Container / End -->



    <!-- Footer
    ================================================== -->
    <div class="margin-top-30"></div>

  <app-footer></app-footer> 
    <!-- Back To Top Button -->
  
<div id="backtotop"><a href="#"></a></div>


</div>