<div id="wrapper">


    <!-- Header
    ================================================== -->
    <app-header></app-header>
    <div class="clearfix"></div>


    <!-- Titlebar
    ================================================== -->
    <div id="titlebar" class="single"  style="background-image: url(../../assets/images/img41.jpg);text-align:center">
        <div class="container">
            <div class="sixteen columns">
                <h2>Espace Candidat</h2>
                <nav id="breadcrumbs">
                    <ul>
                        <li>You are here:</li>
                        <li><a href="#">***** Candidat *****</a></li>
                        <li>Se Connecter</li>
                    </ul>
                </nav>
                
                    <h1 class="h4 text-gray-900 mb-4">Créer Un Nouveau Compte!</h1>
                
                 
            </div>
        </div>
    </div>


    <!-- Content
    ================================================== -->

    <!-- Container -->
    <div class="container">

        <div class="my-account">
           
            <ul class="tabs-nav">
                <li><a routerLink="/loginFormateur"> <i class="fa fa-user"></i>  Se Connecter</a></li>
                <li class="active"><a><i class="fa fa-lock"></i>  S'inscrire</a></li>

            </ul>

            <div class="tabs-container">
   

                <!-- Register -->
                <div class="tab-content" id="tab2">

                        <form method="post" class="login"  [formGroup]="registerFormateurForm" (ngsubmit)="registerFormateur()">
                            <p class="form-row form-row-wide">
                                <label for="nom">Photo :
                                    <i class="fa fa-camera-retro" aria-hidden="true"></i>
                                    <input class="search-field" type="file" accept="image/*" (change)="onSelectFile($event)"  formControlName="img"/>
                                    <img [src]="imgURL" height="50" *ngIf="imgURL">
                                </label>
                            </p>
                            <div *ngIf="img?.touched && img?.invalid">
                                <small class="text-danger" *ngIf="img?.errors?.['required']">Photo
                                    est obligatoire</small>
                                  
                              </div>
                            <p class="form-row form-row-wide">
                                <label for="nom">Nom:
                                    <i class="ln ln-icon-Male"></i>
                                    <input type="text" class="input-text" name="username" id="username2" value="" formControlName="nom"/>
                                </label>
                            </p>
                            <div *ngIf="nom?.touched && nom?.invalid">
                                <small class="text-danger" *ngIf="nom?.errors?.['required']">nom 
                                    est obligatoire</small>
                                  
                              </div>
                              <p class="form-row form-row-wide">
                                <label for="prenom">Prenom:
                                    <i class="ln ln-icon-Male"></i>
                                    <input type="text" class="input-text"  formControlName="prenom"/>
                                </label>
                            </p>
                            <div *ngIf="prenom?.touched && prenom?.invalid">
                                <small class="text-danger" *ngIf="prenom?.errors?.['required']">prenom 
                                    est obligatoire</small>
                                  
                              </div>
                              <p class="form-row form-row-wide">
                                <label for="email2">Email Address:
                                    <i class="ln ln-icon-Mail"></i>
                                    <input type="text" class="input-text" name="email" id="email2" value="" formControlName="email" />
                                </label>
                            </p>
                            <div *ngIf="email?.touched && email?.invalid">
                                <small class="text-danger" *ngIf="email?.errors?.['required']">Adresse Email 
                                    est obligatoire</small>
                                <small class="text-danger" *ngIf="email?.errors?.['email']">Respecter le format de l'adresse Email 
                                    </small>
                                  
                              </div>
                           
                           
                            <p class="form-row form-row-wide">
                                <label for="tel">tel:
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                    <input type="text" class="input-text" formControlName="tel" >
                                </label>
                            </p>
                            <div *ngIf="tel?.touched && tel?.invalid">
                                <small class="text-danger" *ngIf="tel?.errors?.['required']">Num De Tel 
                                    est obligatoire</small>
                                  
                              </div>
                            
                              <p class="form-row form-row-wide">
                                <label for="adr">Adresse:
                                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                                    <input type="text" class="input-text" formControlName="adr" />
                                </label>
                            </p>
                            <div *ngIf="adr?.touched && adr?.invalid">
                                <small class="text-danger" *ngIf="adr?.errors?.['required']">Adresse
                                    est obligatoire</small>
                                  
                              </div>
                            <p class="form-row form-row-wide">
                                <label for="password1">Password:
                                    <i class="ln ln-icon-Lock-2"></i>
                                    <input class="input-text" type="password" name="password1" id="password1" formControlName="mdp" />
                                </label>
                            </p>
                            <div *ngIf="mdp?.touched && mdp?.invalid">
                                <small class="text-danger" *ngIf="mdp?.errors?.['required']">Mot de passe 
                                    est obligatoire</small>
                                  
                              </div>
    
                             <p class="form-row">
                                    <button type="submit" (click)="registerFormateur()"  class="button border fw margin-top-10" >
                                        Se Connecter
                                      </button>
                               
                             </p>
    
                             
                        </form>
                   
                </div>


            </div>
        </div>
    </div>



    <!-- Footer
    ================================================== -->
    <div class="margin-top-30"></div>

    <app-footer></app-footer>

    <!-- Back To Top Button -->
    <div id="backtotop"><a href="#"></a></div>

</div>